<!DOCTYPE>
<html>

<body>
<h1>Create product</h1>

<div>
<form method="post" action='/products'>
 Name <input type="text" name="productName" /><br/><br/>
 Category <input type="text" name="productCategory" /><br/><br/>
 Detail <input type="text" name="productDetail" /><br/><br/>
 Price <input type="text" name="productPrice" /><br/><br/>
 <input type="submit" value="Create">
</form>
</div>

</body>

</html>